.container > *, .container > ::slotted(*) {
	flex-grow: var(--direction-column-grow);
	--direction-column-grow: 1;
	flex-basis: 100%;
	flex-shrink: 0;
}
.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
