.container > * {
    --row-grow: 0;
    --column-grow: initial;
    flex-grow: 1;
}
.container > ::slotted(*) {
    --row-grow: 0;
    --column-grow: initial;
    flex-grow: 1;
}
.container {
    display: flex;
}
