.container > * {
    --row-grow: 0;
    --column-grow: initial;
    flex-basis: 0;
}
.container > ::slotted(*) {
    --row-grow: 0;
    --column-grow: initial;
    flex-basis: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
