.container > *, .container > ::slotted(*) {
	--grow: 1;
	flex-grow: var(--grow);
	flex-basis: 100%;
	flex-shrink: 0;
}
.container {
	display: flex;
	flex-direction: column;
	--direction-column: 0px !important;
	flex-wrap: wrap;
}
