.container > * {
    flex-basis: 0;
    flex-grow: 1;
}
.container > ::slotted(*) {
    flex-basis: 0;
    flex-grow: 1;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
