.container > *, .container > ::slotted(*) {
	--column-grow: 0;
	flex-grow: 1;
	--row-grow: initial;
	flex-basis: 100%;
	flex-shrink: 0;
}
.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
